<div class="page centered-form">
  <h1>Iniciar Sesi칩n</h1>

  <%= form_for(:session, url: login_path) do |f|%>
    <label>Email</label>
		<%= f.email_field :email, :placeholder => "Email" %>

    <label>Contrase침a</label>
		<%= f.password_field :password, :placeholder => "Contrase침a" %>

		<%= f.submit "Iniciar Sesi칩n", class: "btn-submit" %>
  <% end %>
</div>
