<h1>Panel de Control</h1>
<ul>
  <li>
    <%= link_to 'Gestionar Items de Trabajo', work_items_path %>
  </li>
  <li>
    <%= link_to 'Ver Turnos', appointments_path %>
  </li>
  <li>
    <%= link_to 'Sacar Turno', new_appointment_path %>
  </li>
</ul>

<h2>Cosas para hoy</h2>

<% Appointment.todays_appointments.each do |appointment| %>
  <%= render 'shared/appointment', appointment: appointment %>
  <hr>
<% end %>
