<div class="page">
  <% if @user.mujer? %>
    Tu registro se ha completado correctamente! Bienvenida a Tully's Style
  <% else %>
    Tu registro se ha completado correctamente! Bienvenido a Tully's Style
  <% end %>
</div>
