<div class="page">
  <h1>Contacto</h1>
<div class="contacto">


    <form class="form" action="/sended" method="get">
      <label>Nombre</label>
      <input class="name" name="nombre" type="text" required/>
      <label>Email</label>
      <input class="email" name="email" type="text" pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" required/>
      <label>Mensaje</label>
      <TEXTAREA rows="10" cols="35" name="comentarios" required>Escriba aquí sus consultas</TEXTAREA>

       <input name="enviar" type="submit" value="Enviar" />
    </form>

    <div class="information">
      <h3>Encontranos en:</h3>
      <p>Calle Alem 123.</p>
      <p>Telefono: 0291-15560646.</p>
    </div>
  </div>
</div>
