<div class="banner">
  <h2>SALON CATELYN TULLY</h2>
  <% if current_user.nil? %>
    <h3>¡<a href="/signup">Registrarse</a> o <a href="login">Inicie Sesión</a> y obtenga su turno aqui mismo!</h3>
  <% else %>
    <h3>¡Bienvenido, ahora puede reservar su turno <a href="#">aqui mismo</a>!</h3>
  <% end %>

</div>
