.contacto{
  display: flex;

  .form{
    text-align: left;

    label {
      display: block;
      padding: 0.2em 0;
      text-align: left;
      width: 300px;
      margin: auto;
    }

    input {
      box-sizing: border-box;
      margin-bottom: 1em;
      width: 300px;
      padding: 0.25em;
      font-family: 'Source Sans Pro', sans-serif;
    }

    input[type=submit] {
      display: block;
      margin: auto;
    }
  }

  .information{
    margin-top: 0;
    text-align: center;
    margin-left: 20em;
  }
}
